.container {
  display: flex;
  margin: 15x;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pw {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: darkcyan;
  padding: 8px;
  border-radius: 6px;
  animation: Pw 3s infinite;
}

@keyframes Pw {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1)
      translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1)
      translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95)
      translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 55px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  outline: none;
  border-radius: 10px;
  background-color: #dc3545;
  animation: to_btn1 2s infinite;
}
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 55px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  outline: none;
  border-radius: 10px;
  background-color: #ffc107;
  animation: to_btn2 2s infinite;
}

.btn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 55px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  outline: none;
  border-radius: 10px;
  background-color: #343a40;
  animation: to_btn3 2s infinite;
}

.btn4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 55px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  outline: none;
  border-radius: 10px;
  background-color: #6610f2;
  animation: to_btn4 2s infinite;
}

.btn5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 55px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  outline: none;
  border-radius: 10px;
  background-color: #17a2b8;
  animation: to_btn5 2s infinite;
}

.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  text-decoration: none;
  font-size: 18px;
  color: #dc3545;
  font-weight: bold;
  animation: link 7s infinite;
}

@keyframes link {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.1;
  }
}
/*==========≠=======≠==================*/
@keyframes to_btn1 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes to_btn2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*==================≠===≠================*/

@keyframes to_btn3 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/*=============≠==========≠================*/

@keyframes to_btn4 {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0.1;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }
}

/*===========≠===========================*/
@keyframes to_btn5 {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
